.container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.box {
  width: 80px;
  height: 80px;
  border: solid 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
embed {
  display: none;
}
